<div class="container-fluid py-5 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card shadow">
          <div class="card-body bg-light">
            <div class="text-center">
              <h2 class="card-title mb-4">プロフィール編集</h2>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="mb-3">
                <%= f.label :email, "メールアドレス", class: "form-label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>現在の確認待ちメールアドレス: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="mb-3">
                <%= f.label :password, "パスワード", class: "form-label" %> <i>(変更しない場合は空白のままにしてください)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> 文字以上で入力してください</em>
                <% end %>
              </div>

              <div class="mb-3">
                <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="mb-3">
                <%= f.label :current_password, "現在のパスワード", class: "form-label" %> <i>(変更を確認するために現在のパスワードが必要です)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit "更新", class: "btn btn-primary" %>
              </div>
            <% end %>

            <h3 class="mt-4">アカウントのキャンセル</h3>

            <div>不満ですか？ <%= button_to "アカウントをキャンセルする", registration_path(resource_name), data: { confirm: "本当によろしいですか？", turbo_confirm: "本当によろしいですか？" }, method: :delete, class: "btn btn-danger" %></div>

            <%= link_to "戻る", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


