<div class="container mt-5 pt-5">
   <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
  <div class="container mt-5 pt-5">
    <h2 class="text-center">設定</h2>
    <div class="user-container">
      <div class="account-info text-center"> 
        <div class="account-title text-center mb-4">
          <h2>アカウント</h2>
          <%= render "shared/error", obj: @user %>
        </div>
        <div class="mb-3"> 
          <div class="account-info-group">
            <label class="account-label">アイコン画像</label>
            <p class="account-value"> <%= image_tag current_user.profile_image_id.blank? ? 'kkrn_icon_user_7' : current_user.profile_image_id.url, class: "img-account img-field img-circle", :size => '32x32' %></p>
          </div>
          <div class="account-info-group">
            <label class="account-label">名前</label>
            <p class="account-value"><%= current_user.name %></p>
          </div>
          <div class="account-info-group">
            <label class="account-label">目標</label>
            <p class="account-value"><%= current_user.profile %></p>
          </div>
          <div class="account-info-group">
            <label class="account-label">メールアドレス</label>
            <p class="account-value"><%= current_user.email %></p>
          </div>
          <div class="account-info-group">
            <label class="account-label">パスワード</label>
            <p class="account-value">*********</p>
          </div>
        </div> 
      </div>
      <div class="account-actions d-flex justify-content-center mt-3">
        <% if user_signed_in? && current_user.email != 'guesttt@example.com' %>
          <%= link_to "アカウント設定", edit_user_path(current_user), class: "btn btn-primary mx-2" %>
          <%= link_to "プロフィール編集", edit_registration_path(current_user), class: "btn btn-primary mx-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 230px;"></div>
