<div class="container mt-5 pt-5">
   <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="bd-example text-center mt-5" style="position: relative;">
  <h2 class="overlay-title">Habit</h2>
  <p>--習慣人生変わる--</p>
</div>

<div class="bd-example" style="position: relative; text-align: center; max-width: 600px; margin: 0 auto;">
  <img src="https://www.d-sp.co.jp/maebashi/wp/wp-content/uploads/2020/06/shutterstock_311106002.jpg" class="img-fluid" alt="Responsive image" width="100%">
  <div class="overlay" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(134, 142, 150, 0.5); padding: 10px;">
    <p class="overlay-description" style="color: #dee2e6; font-size: clamp(8px, 1.5vw, 18px); text-align: center;">
      トレーニングした記録を共有できるサイトです<br>
      <span style="font-size: clamp(6px, 1.2vw, 14px);">理想のボディに近づけるように今日も頑張りましょう!</span><br>
      <span style="font-size: clamp(6px, 1.2vw, 14px);">みんなの投稿を見て、イカしたトレーニングを見つけたらお気に入り登録しておこう！</span>
    </p>
  </div>
</div>


<div class="container mt-5 ">
  <div class="mx-6">
    <div class="bd-example">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              トレーニングは必要なのか
            </button>
          </h4>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>トレーニングをするメリットはたくさんある.</strong><br> 1つ目健康的な生活をおくれる<br>2つ目老若男女関係なく始められる<br>3つ目精神的に安定する
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              習慣にしないと人間は行動できない
            </button>
          </h4>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>トレーニングを習慣にすることは難しい辛い、大変、苦しい、すぐに結果に現れないだからこそ記録することに意味がある</strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              人間は承認欲求の塊
            </button>
          </h4>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>他の人に見てもらえることで頑張れる自分以外にも頑張っている人がいるからこそ自分も頑張れる</strong> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="text-center mt-3 d-flex justify-content-center mt-md-5">
    <div class="d-flex align-items-center">
      <%= link_to "-新着投稿-", "#", id: "new-posts-link", class: "me-3 mb-2 flex-shrink-0" %>
      <%= link_to "-人気投稿-", "#", id: "popular-posts-link", class: "mb-2 flex-shrink-0 ml-5" %>
    </div>
  </div>
</div>

<div class="container  pt-5">
  <div class="row">
    <div class="col-12 mx-auto px-0" id="new-posts">
      <p class="text-center ">新着投稿</p>
        <div class="table-responsive">
          <table class="table custom-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">種目</th>
                <th scope="col">投稿者</th>
                <th scope="col">回数</th>
                <th scope="col">器具、<br>プロテイン</th>
                <th scope="col">トレーニング部位</th>
                <th scope="col">作成日</th>
                <th scope="col">いいね</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.reverse_each do |post| %>
                <td class="text-center" style="color: black;"><%= link_to post.name, post_path(post) %></td>
                <td class="text-center"><%= post.user.name %></td>
                <td class="text-center"><%= post.set %></td>
                <td class="text-center"><%= post.introduction %></td>
                <td class="text-center"><%= post.muscle %></td>
                <td class="text-center"><%= post.created_at.to_s(:datetime_jp) %></td>
                <td class="text-center">
                  <div class="favorite-wrapper">
                  <% if current_user && current_user.already_favorited?(post) %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :delete, class: "favorite-button" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <% else %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :post, class: "favorite-button" do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <% end %>
                  <span class="favorite-count"><%= post.favorites.count %></span>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>
    </div>
    <div class="col-12 mx-auto px-0" id="popular-posts" >
      <p class="text-center ">人気投稿</p>
        <div class="table-responsive">
         <table class="table custom-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">種目</th>
              <th scope="col">投稿者</th>
              <th scope="col">回数</th>
              <th scope="col">器具、<br>プロテイン</th>
              <th scope="col">トレーニング部位</th>
              <th scope="col">作成日</th>
              <th scope="col">いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @popular_posts.each do |post| %>
              <tr>
                <td class="text-center"><%= link_to post.name, post_path(post) %></td>
                <td class="text-center" style="color: black;"><%= post.user.name %></td>

                <td class="text-center"><%= post.set %></td>
                <td class="text-center"><%= post.introduction %></td>
                <td class="text-center"><%= post.muscle %></td>
                <td class="text-center"><%= post.created_at.to_s(:datetime_jp) %></td>
                </td>
                <td class="text-center">
                  <div class="favorite-wrapper">
                    <% if current_user.already_favorited?(post) %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :delete, class: "favorite-button" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <% else %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :post, class: "favorite-button" do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <% end %>
                  <span class="favorite-count"><%= post.favorites.count %></span>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>


<div class="bd-example text-center mt-5" style="position: relative;">
  <h3 >ユーザー一覧</h3>
  <p></p>
</div>
<div class="container mt-5 pt-5"> 
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-auto">
          <thead>
            <tr>
              <th></th>
              <th>名前</th>
              <th>目標</th>
              <th>投稿数</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
              <td> <%= image_tag current_user.profile_image_id.blank? ? 'no-image.png' : current_user.profile_image_id.url, class: "img-account img-field img-circle", :size => '32x32' %></td>
              <td><%= link_to user.name, posts_index_path(user_id: user.id) %></td>
              <td><%= user.profile %></td>
               <td><%= user.posts.length %></td>
               </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="bd-example text-center mt-5" style="position: relative;">
  <h3 >筋トレ一覧</h3>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://3.bp.blogspot.com/-ugEtMLkRoq8/Vkb_GY_prTI/AAAAAAAA0aE/8Z7GweohF8U/s800/udetate_man.png" alt="Image" width="80%" height="250">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">腕立て伏せ</h5>
              <p class="card-text">① 四つん這いの状態になり、手を肩幅よりも少し広めにして着きましょう。<br> ② 足を伸ばしてつま先を立て、頭から足首までがまっすぐになるようにしましょう。<br> ③ まっすぐな姿勢をキープしながら脇を締めて肘を曲げ、体を床に着くギリギリまでゆっくりと下ろしましょう。</p>
              <p class="card-text"><small class="text-muted">トレーニング部位 胸</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://4.bp.blogspot.com/-skyuBgZ0hdk/Vkb_BCNX9EI/AAAAAAAA0ZI/4l2wDyD-RP4/s800/fukkin_woman.png" alt="Image" width="80%" height="250">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">腹筋</h5>
              <p class="card-text">① あお向けの状態で両膝を約90°に折り曲げます。<br>両手は耳の後ろ付近に当て、頭部を浮かし、腹筋に力を入れます。<br> ② みぞおちを中心に、頭部から背中を丸めながら起き上がります。<br>起き上がる際、背中が伸びないように注意しましょう。。</p>
              <p class="card-text"><small class="text-muted">トレーニング部位 腹</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>              
              
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://1.bp.blogspot.com/-J04fy2hj37o/W5IAQgAm_4I/AAAAAAABOzQ/8ry8DewSS8AhDLRQGAe64Gg-iq2NM89eACLcBGAs/s800/undou_squat_man.png" alt="Image" width="80%" height="250">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">スクワット</h5>
              <p class="card-text">① 足を腰幅に開き、つま先は膝と同じ向きにする。<br> ② お尻を後ろへ突き出すように、股関節から折り曲げる。<br> ③ 太ももが床と平行になるまで下ろしたら、ゆっくりと元の姿勢に戻る。</p>
              <p class="card-text"><small class="text-muted">トレーニング部位 胸</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://1.bp.blogspot.com/-HywpCpyri1Q/XXXOzEtVqjI/AAAAAAABUzA/7bQ7pY1hMSw7t5HbThzf52yunydCxRCmwCLcBGAs/s1600/undou_back_extension_woman.png" alt="Image" width="80%" height="250">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">バックエクステンション</h5>
              <p class="card-text">① 床にうつ伏せで寝て、両手を耳の横にセットする。<br> ② みぞおちを床に着けたまま、両足と上半身を起こす。<br> ③肩甲骨を内側に寄せて一瞬上でキープする。<br>④ゆっくり両足と上半身を下ろす。</p>
              <p class="card-text"><small class="text-muted">トレーニング部位 背中</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://1.bp.blogspot.com/-wBFLFU668iI/X5OckMBRJvI/AAAAAAABcAs/L5FCNiDqcBEW36iVauNvZX2kF885qsvdACNcBGAsYHQ/s699/undou_calf_raise.png" alt="Image" width="80%" height="250">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">カーフレイズ</h5>
              <p class="card-text">① 肩幅に足を開いて立つ。<br> ② 足かかとをできるだけ上げて、つま先立ちになる。<br> ③ 重力に抗いながらかかとを下ろす。</p>
              <p class="card-text"><small class="text-muted">トレーニング部位 足</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 30px;"></div>
<style>
.fixed_to_post_link {
  position: fixed;
  bottom: 20px; /* 画面下からの距離を調整 */
  right: 20px; /* 画面右からの距離を調整 */
  background-color: #007bff; /* バックグラウンド色を設定 */
  color: #fff; /* テキストの色を設定 */
  padding: 10px 20px; /* パディングを設定 */
  border-radius: 5px; /* 角丸を設定 */
  text-decoration: none; /* テキストの下線を削除 */
}

.fixed_to_post_link:hover {
  background-color: #0056b3; /* ホバー時のバックグラウンド色を設定 */
}
</style>

<a class="fixed_to_post_link" href="/posts/new">＋投稿する</a>
