<div class="container mt-5 pt-5">
   <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
<article class="my-3" id="carousel">
  <div>
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
              <defs>
                <pattern id="background-image" x="0" y="0" width="100%" height="100%" patternContentUnits="objectBoundingBox">
                  <image href="https://img.freepik.com/free-photo/close-up-of-sportive-man-jogging-in-field-at-sunrise_176420-5185.jpg?w=1380&t=st=1687775519~exp=1687776119~hmac=492f129112bc7168c0abfc1ec8ecc3fe6d99e50f7958ac7254b56d9cc094e982" width="1" height="1" preserveAspectRatio="none"></image>
                </pattern>
              </defs>
              <rect width="100%" height="100%" fill="url(#background-image)" x="0%"/>
              <text x="50%" y="40%" fill="orange" dy=".3em" font-size="75" text-anchor="middle">トレーニング投稿所</text>
            </svg>
            <div class="carousel-caption d-none d-md-block text-center">
              <p>トレーニング投稿所では、君のイカしたトレーニングを投稿できるぞ！みんなの投稿を見て、イカしたトレーニングを見つけたらお気に入り登録しておこう！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
   
<section id="components">
    <article class="my-3" id="accordion">
      <div>
        <div class="bd-example">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                トレーニングは必要なのか
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>トレーニングをするメリットはたくさんある.</strong><br> 1つ目健康的な生活をおくれる</br><br>2つめ老若男女関係なく始められる</br><br>3つ目精神的に安定する</br>
              </div>
            </div>
          </div>
           <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTWO" aria-expanded="false" aria-controls="collapseTWO">
                習慣にしないと人間は行動できない
              </button>
            </h4>
            <div id="collapseTWO" class="accordion-collapse collapse" aria-labelledby="headingTWO" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>トレーニングを習慣にすることは難しい辛い、大変、苦しい、すぐに結果に現れないだからこそ記録することに意味がある</strong> 
            </div>
          </div>         
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                人間は承認欲求の塊
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>他の人に見てもらえることで頑張れる自分以外にも頑張っている人がいるからこそ自分も頑張れる</strong> 
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </article>
</section>
<div class="text-center mt-3">
  <%= link_to "-新着投稿-", "#", id: "new-posts-link" %>
  <%= link_to "-人気投稿-", "#", id: "popular-posts-link" %>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto" id="new-posts">
      <p class="text-center mt-5">新着投稿</p>
        <table class="table custom-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">種目</th>
              <th scope="col">投稿者</th>
              <th scope="col">回数</th>
              <th scope="col">種目内容</th>
              <th scope="col">更新日</th>
              <th scope="col">作成日</th>
              <th scope="col">参照</th>
              <th scope="col">編集</th>
              <th scope="col">削除</th>
              <th scope="col">いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td class="text-center"><%= post.name %></td>
                <td class="text-center"><%= post.user.name %></td>
                <td class="text-center"><%= post.set %></td>
                <td class="text-center"><%= post.introduction %></td>
                <td class="text-center"><%= post.updated_at.to_s(:datetime_jp) %></td>
                <td class="text-center"><%= post.created_at.to_s(:datetime_jp) %></td>
                <td class="text-center">
                  <%= link_to post, class: "btn btn-sm btn-primary" do %>
                    <i class="fas fa-eye"></i> 参照
                  <% end %>
                </td>
                <td class="text-center">
                  <%= link_to [:edit, post], class: "btn btn-sm btn-info" do %>
                    <i class="fas fa-edit"></i> 編集
                  <% end %>
                </td>
                <td class="text-center">
                  <%= button_to post, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: '本当に削除しますか？' } do %>
                    <i class="fas fa-trash"></i> 削除
                  <% end %>
                </td>
                <td class="text-center">
                  <div class="favorite-wrapper">
                    <% if current_user && current_user.already_favorited?(post) %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :delete, class: "favorite-button" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <% else %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :post, class: "favorite-button" do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <% end %>
                  <span class="favorite-count"><%= post.favorites.count %></span>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <div class="col-12 mx-auto" id="popular-posts" >
      <p class="text-center mt-5">人気投稿</p>
       <table class="table custom-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">種目</th>
              <th scope="col">投稿者</th>
              <th scope="col">回数</th>
              <th scope="col">種目内容</th>
              <th scope="col">更新日</th>
              <th scope="col">作成日</th>
              <th scope="col">参照</th>
              <th scope="col">編集</th>
              <th scope="col">削除</th>
              <th scope="col">いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @popular_posts.each do |post| %>
              <tr>
                <td class="text-center"><%= post.name %></td>
                <td class="text-center"><%= post.user.name %></td>
                <td class="text-center"><%= post.set %></td>
                <td class="text-center"><%= post.introduction %></td>
                <td class="text-center"><%= post.updated_at.to_s(:datetime_jp) %></td>
                <td class="text-center"><%= post.created_at.to_s(:datetime_jp) %></td>
                <td class="text-center">
                  <%= link_to post, class: "btn btn-sm btn-primary" do %>
                    <i class="fas fa-eye"></i> 参照
                  <% end %>
                </td>
                <td class="text-center">
                  <%= link_to [:edit, post], class: "btn btn-sm btn-info" do %>
                    <i class="fas fa-edit"></i> 編集
                  <% end %>
                </td>
                <td class="text-center">
                  <%= button_to post, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: '本当に削除しますか？' } do %>
                    <i class="fas fa-trash"></i> 削除
                  <% end %>
                </td>
                <td class="text-center">
                  <div class="favorite-wrapper">
                    <% if current_user.already_favorited?(post) %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :delete, class: "favorite-button" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <% else %>
                    <%= button_to post_favorites_path(post_id: post.id), method: :post, class: "favorite-button" do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <% end %>
                  <span class="favorite-count"><%= post.favorites.count %></span>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="container pt-5" style="max-width: 600px;">
  <%= form_with url: api_products_search_path, method: :get, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, value: params[:keyword], class: "form-control",placeholder: "プロテインの検索" %>
      <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
    </div>
  <% end %>
  <% if @api_products.present? %>
    <%= render 'api_products/api_product' %>
  <% end %>
</div>
