<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div class="mt-5"> 
            <h3 class="card-title mb-4">トレーニング記録</h3>
            <%= render "shared/error", obj: @post %>
            <%= form_with model: @post do |f| %>
              <table class="table table-bordered">
                <tr>
                  <th><%= f.label :name, "種目" %></th>
                  <td>
                  <%= f.select :name, options_for_select(["胸", "肩","背中","腕","腹","足","その他"]), {}, class: "form-control" %>
                    </td>
                </tr>
                <tr>
                  <th><%= f.label :set, "回数" %></th>
                  <td><%= f.text_field :set, class: "form-control" %></td>
                </tr>
               <tr>
                  <th><%= f.label :introduction, "おすすめの器具、トレーニング、プロテイン" %></th>
                  <td><%= f.text_area :introduction, class: "form-control" %></td>
                </tr>
                <tr>
                  <th><%= f.label :muscle, "トレーニング部位" %></th>
                  <td><%= f.text_area :muscle, class: "form-control" %></td>
                </tr>
              </table>
              <div class="text-center "> 
                <%= f.submit "編集を完了する", class: "btn btn-primary" %>
                <%= link_to "ユーザー情報一覧に戻る", :posts, class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
